 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Novel tech.</h2>
      <!-- <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i> -->
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      <p>Fibreoptics, nodes...</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      <p>SWSPy, SeisSrcMoment, QuakeMigrate...</p>
    </div>
    <div class="tech">
      <h2>Applications</h2>
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      <p>Glaciers, geothermal, mineral exploration...</p>
    </div>
</div>

<h3>Work Experience</h3>
<table cellspacing = "20" style = "border-collapse: collapse;">
    <tr><td style = "border-bottom: 0px solid black;"><strong>01/2024 - present</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Department of Earth Sciences, University of Oxford, UK</b> <br /> <em>Royal Society University Research Fellow (OceanMelt project)</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>11/2021 - 06/2022</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Exeter College, Oxford, UK</b> <br /> <em>Stipendiary Lecturer in Geophysics</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>06/2019 - 12/2023</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Department of Earth Sciences, University of Oxford, UK</b> <br /> <em>Postdoctoral Research Associate (RIFT-O-MAT project)</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>10/2016 - 04/2019</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Scripps Institution of Oceanography, UC San Diego, USA</b> <br /> <em>John W. Miles Postdoctoral Fellow at IGPP</em></td></tr>
</table>

<h3>Education</h3>
<table cellspacing = "20" style = "border-collapse: collapse;">
    <tr><td style = "border-bottom: 0px solid black;"><strong>01/2021 - 10/2021</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Advance HE and CTL, University of Oxford, Oxford, United Kingdom</b> <br /> <em>Associate Fellowship, Descriptor 1 of the UK Professional Standards Framework (UKPSF)</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>07/2012 - 06/2016</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Johannes Gutenberg University, Mainz, Germany</b> <br /> <em>DPhil. in Natural Sciences - Geophysics</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>10/2008 - 06/2012</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>University of Oxford, Oxford, United Kingdom</b> <br /> <em>MEarthSci. Earth Sciences</em></td></tr>
</table>