 <div class="user-details">
  <h1> My Expertise </h1>
  <img class="profile-img" width="150px" alt="profile" src="{{ "/assets/img/T_Hudson_passport_size_photo_cropped.png" | prepend: site.baseurl }}" />
  <p> {{site.user_description}} </p>
</div>
  <!-- <div class="user">
    <div class="tech">
      <h2>Novel tech.</h2>
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      <p>Fibreoptics, nodes...</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      <p>SWSPy, SeisSrcMoment, QuakeMigrate...</p>
    </div>
    <div class="tech">
      <h2>Applications</h2>
      <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
      <p>Glaciers, geothermal, mineral exploration...</p>
    </div>
</div> -->

<h3>Work Experience</h3>
<table cellspacing = "20" style = "border-collapse: collapse;">
    <tr><td style = "border-bottom: 0px solid black;"><strong>2024 - present</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Department of Earth and Planetary Sciences, ETH Zurich, Switzerland</b> <br /> <em>Oberassistent</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>2022 - 2024</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Department of Earth Sciences, University of Oxford, UK</b> <br /> <em>Leverhulme Early Career Fellow</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>2023 - 2024</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>St Cross College, Oxford, UK</b> <br /> <em>Junior Research Fellow</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>2022 - 2023</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Exeter College, Oxford, UK</b> <br /> <em>Stipendiary Lecturer</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>2020 - 2022</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Department of Earth Sciences, University of Oxford, UK</b> <br /> <em>Postdoctoral Research Associate</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>2019 - 2020</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>Metrol Technology Ltd</b> <br /> <em>Research Scientist</em></td></tr>
</table>

<h3>Education</h3>
<table cellspacing = "20" style = "border-collapse: collapse;">
    <tr><td style = "border-bottom: 0px solid black;"><strong>2015 - 2019</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>University of Cambridge and British Antarctic Survey, UK</b> <br /> <em>PhD in Earth Sciences (seismology)</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>2012 - 2015</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>University of Durham, UK</b> <br /> <em>Master of Physics (MPhys)</em></td></tr>
    <tr><td style = "border-bottom: 0px solid black;"><strong>2010 - 2012</strong></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td style = "border-bottom: 0px solid black;"><b>University of Bath, UK</b> <br /> <em>Mechanical Engineering </em></td></tr>
</table>

T_Hudson_passport_size_photo.jpg