<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="plane_on_ice" src="{{ "/assets/img/bg.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Fibreoptic sensing on glaciers </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>Fibreoptic sensing provides orders-of-magnitude denser sampling than conventional seismic instrumentation. I am using this far denser sampling to study how Antarctic ice streams slide through to how alpine glaicers fracture. Glaciers also provide an ideal test environment for developing new data analysis methods, since ice is a simpler medium than rock. I am capitalising on this to develop a number of methods for harnessing the power of fibreoptic sensing technology.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/compare-fibre-INNsF0Zz_kQ-unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Addressing fibreoptic sensing challenges </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>While fibreoptic sensing is an exciting new technology within the field of seismology, challenges remain for fully realising its potential. I am working on new methods for earthquake detection, how to use amplitude information and seismic source inversion.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/mining_unsplash.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Critical mineral exploration </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>Critical minerals are needed for manufacturing numerous technologies essential for driving the green energy transition, from batteries to magnets. I am working on developing geophysical tools to explore for these minerals in collaboration with various collegues internationally. Excitingly, some of these methods can be used to find entirely new prospects that are far less damaging for the planet, for example metal-rich brines in geothermal systems.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/geothermal.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Seismic nodes for geothermal exploration </h3>
    <!-- <ul>
      <li> Featured Skills</li>
    </ul> -->
    <p>Seismic nodes provide a step-change in how many instruments we can deploy, allowing for denser deployments at lower cost than conventional methods. I am working on various methods to capitalise on this new technology, particularly with regard to adapting existing methods to work with the much larger number of receivers and hence data volumes.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>