<div class="user-details">
    <h1> Publications </h1>
  </div>
    
  <h3> Peer-reviewed </h3>
  <ol reversed>
     <li><strong>Hudson, T. S.</strong>, Kettlety, T., Kendall, J., Toole, T. O., Jupe, A., Shail, R. K., & Grand, A. (2024). Seismic Node Arrays for Enhanced Understanding and Monitoring of Geothermal Systems. The Seismic Record, 161–171. doi:10.1785/0320240019 <a target="_blank" href="https://doi.org/10.1785/0320240019">[link]</a></li>
     <li>Gauntlett, M., Stephenson, S. N., Kendall, J. M., Ogden, C., Hammond, J. O. S., Hudson, T., et al. (2024). The Dynamic Crust of Northern Afar and Adjacent Rift Margins: New Evidence From Receiver Function Analysis in Eritrea and Ethiopia. Geochemistry, Geophysics, Geosystems, 25(6). doi:10.1029/2023GC011314 <a target="_blank" href="https://doi.org/10.1029/2023GC011314">[link]</a></li>
     <li>Lapins, S., Butcher, A., Kendall, J.-M., Hudson, T. S., Stork, A. L., Werner, M. J., et al. (2023). DAS-N2N: machine learning distributed acoustic sensing (DAS) signal denoising without clean data. Geophysical Journal International, 236(2), 1026–1041. doi:10.1093/gji/ggad460 <a target="_blank" href="https://doi.org/10.1093/gji/ggad460">[link]</a></li>
     <li>Marshall, N., Ou, Q., Begenjev, G., Bergman, E., Bezmenov, Y., Dodds, N., Gruetzner, C., Hudson, T.S., et al. (2024). Seismotectonic aspects of the Ms 7.3 1948 October 5th Aşgabat (Ashgabat) earthquake, Türkmenistan: right-lateral rupture across multiple fault segments, and continuing urban hazard. Geophysical Journal International. doi:10.1093/gji/ggad488 <a target="_blank" href="https://doi.org/10.1093/gji/ggad488">[link]</a></li>

     <li>Marshall, N., Ou, Q., Begenjev, G., Bergman, E., Bezmenov, Y., Dodds, N., Gruetzner, C., Hudson, T.S., et al. (2024). Seismotectonic aspects of the Ms 7.3 1948 October 5th Aşgabat (Ashgabat) earthquake, Türkmenistan: right-lateral rupture across multiple fault segments, and continuing urban hazard. Geophysical Journal International. doi:10.1093/gji/ggad488 <a target="_blank" href="https://doi.org/10.1093/gji/ggad488">[link]</a></li>


  </ol>

  <h3> In review </h3>
  <ul>
  
  </ul>


