<div class="user-details">
    <h1> Publications </h1>
</div>
  
<h3> Peer-reviewed </h3>
<ol reversed>
    <li><strong>Hudson, T. S.</strong>, Kettlety, T., Kendall, J., Toole, T. O., Jupe, A., Shail, R. K., & Grand, A. (2024). Seismic Node Arrays for Enhanced Understanding and Monitoring of Geothermal Systems. The Seismic Record, 161–171. doi:10.1785/0320240019 <a target="_blank" href="https://doi.org/10.1785/0320240019">[link]</a></li>
    <li><strong>Hudson, T. S.</strong>, Kettlety, T., Kendall, J., Toole, T. O., Jupe, A., Shail, R. K., & Grand, A. (2024). Seismic Node Arrays for Enhanced Understanding and Monitoring of Geothermal Systems. The Seismic Record, 161–171. doi:10.1785/0320240019 <a target="_blank" href="https://doi.org/10.1785/0320240019">[link]</a></li>
</ol>


